@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#59c173, #a17fe0, #5d25c1);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

#tryagain {
  visibility: hidden;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#samecard {
  visibility: hidden;
  color: yellow;
}

#congrats {
  visibility: hidden;
  background: -webkit-linear-gradient(left, #ed213a, #93291e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#playagain {
  cursor: pointer;
  border: 1px solid greenyellow;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
}
